<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>


<body>
<h6 class="text-center">Ex3 -Eran Safadel </h6>
<div class="container">
<div class="row">
    <div class="col-md-9">
        <a href="/" class="btn btn-primary btn-sm">Home</a>
    </div>


<div class="col-md-3">
    <a href="/logout" class="btn btn-danger text-white btn-sm">Logout</a>
</div>

</div>
<div>
    <br>
</div>



<div class="row">
    <div class="col-md-9">
        <a href="/clearHistory" class="btn btn-warning text-white btn-sm">Clear</a>
    </div>
</div>

</div>
</div>

<h6 class="text-center">Results:</h6>







<div class="container">
<div class="row">
    <div class="col-md-10">
        <table class="table table-striped table-responsive-md ">
            <thead>
            <tr>
                <th>Login </th>
                <th>Most searches</th>
            </tr>
            </thead>
            <tbody >
            <tr th:each="user : ${users}">
                <td>
                    <a th:href="@{{url}(url=${user.getUrl()})}">
                                <span>
                                    <p th:text="${user.getUserName()} " id="name"></p>
                                </span>
                    </a>
                </td>
                <td>
                    <p th:text="${user.getCount()}" id="most_num_search"></p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div>
</div>


</body>
</html>